<h1><%- title %></h1>

<p><%- messages() %></p> 

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form action="/account/edit-account" method="post" class="form" id="updateForm">
    <div class="form-inputs">

        <label for="account_firstname">First Name:</label>
        <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.accountData.account_firstname %>">
        <label for="account_lastname">Last Name:</label>
        <input type="text" name="account_lastname" id="accountLastname" type="text" required value="<%= locals.accountData.account_lastname %>">
        <label for="account_email">Email:</label>
        <input name="account_email" type="email" id="accountEmail" required placeholder="Please enter a valid email address." value="<%= locals.accountData.account_email %>">
</div>
    <button type="submit" name="submit" disabled>Update Account Information</button>
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
</form>

<form action="/account/change-password" method="post" class="form">
    <div class="form-inputs">
        <label for="account_password">Password:</label>
        <input name="account_password" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required placeholder="">
        <div>Passwords must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character.</div>
        <p></p>
        <div>WARNING: By entering a password, it will change the password currently associated with your account.</div>

</div>
    <button type="submit" name="submit">Change Password</button>
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
</form>

<script src="../../js/inv-update.js"></script>